services:
  backend:
    hostname: odoo-integration
    container_name: odoo-integration
    labels:
      container_group: odoo-integration
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
